body {
    background-image: url(project1_grass.png);
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header {
    text-align: center;

}

#navBox {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav {
    border-radius: 20px;
    flex: 1 1 0px;
}

#stacks {
    margin: 300 auto 0 auto;
    display: grid;
    max-width: 50%;


}

.pole{
    background-color: black;
}

header {
    background-color: dodgerblue;
}

#table {
    background-color: burlywood;
}

#disc1 {
    background-color: red;
}

#disc2 {
    background-color: white;
}

#disc3 {
    background-color: blue;
}

#bottom{
    
}