body {
    background-image: url(project1_grass.png);
    background-repeat: no-repeat;
}

main {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr;
}


.modal {
    display: none;
    width: 50%;
    height: 25%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 25%;
    justify-content: center;
    align-items: center;
}

.modal-content {
    height: 100%;
    width: 100%;
    background-color: dodgerblue;
    border-radius: 4px;
    text-align: center;
    overflow: auto;
}

.modalh2 {
    margin: 0;
    padding: 20px;
}



.modalChildren {
    color: whitesmoke;
}

p.modalChildren {
    font-size: 22px;
}

.close {
    border-radius: 20px;
    padding: 0 2rem;
    margin: 10px
}

header {
    text-align: center;
    background-color: dodgerblue;
}

h1 {
    color: blue;
}

#navBox {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav {
    border-radius: 20px;
    flex: 1 1 0px;
}

#stacks {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#discDiv1 {
    text-align: center;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#discDiv2 {
    text-align: center;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#discDiv3 {
    text-align: center;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.base {
    background-color: slategray;
    width: 100%;
}

.disc {
    display: none;
    border-radius: 60px;
    text-align: center;
}

.pole {
    z-index: -10;
    position: absolute;
    height: 25%;
    background-color: black;
    border-radius: 60px;
}


#disc1 {
    background-color: red;
    width: 55%;
}

#disc2 {
    background-color: white;
    width: 65%;
}

#disc3 {
    background-color: blue;
    width: 75%;
}

#bottom{
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#table {
    background-color: burlywood;
    height: 25%;
    width: 90%;
}

#stats {
    background-color: brown;
    width: 70%;
    height: 75%;
}

.selected {
    margin-bottom: 30px;
}